



@media(max-width: 1400px){
	.background{
		background: linear-gradient(black, #000099, #66c2ff, #ffcccc, #ffeee6);
		width:100%;
		height: 100%;
		position: fixed;
		top: 0px;
		margin: 0px;
		padding: 0px;
	}

	#list{
		display: flex;
		margin-bottom: 30px;
	}

	.boxes{
		height: 10px;
		width: 10px;
		border-radius: 50%;
		animation-iteration-count: infinite;
		background-color: #fff;

	}

	.box1{
		animation-name: twinkle;
		margin-left: 10%;
		margin-top: 10%;
		animation-duration: 1s;
		display:inline-block;
	}

	.box2{
		animation-name: twinkle;
		margin-left: 20%;
		margin-top: 7%;
		animation-duration: 1s;

	}

	.box3{
		animation-name: twinkle;
		margin-left: 30%;
		margin-top: 10%;
		animation-duration: 1s;
	}

	.box4{
		animation-name: twinkle;
		margin-left: 10%;
		margin-top: 7%;
		animation-duration: 1s;

	}

	.box5{
		animation-name: twinkle;
		margin-left: 20%;
		margin-top: 10%;
		animation-duration: 1s;

	}

	@keyframes twinkle{
		25%{
			opacity: 0.5;
			transform: scale(0.5);
		
	}
}
	#content{
		margin: auto;
		width: 70%;
		height: 70%;
		background-color: rgba(0, 1, 0, 0.4);
	}	

	form{
		margin: 20px 10px ;
		height: auto;
	}

	#footer{
		background-color: green;
		width: 100px;
		height: 20px;
	}
	[type="submit"]{
		background-color: #10fd01;
	}

}
